*{
    box-sizing: border-box;
    /* background-color: #f9f7f2; */
}

.about-back{
    background-color: #FFFFFF;
}
.about-img{
    background-image:url("../assets/about.jpg");
    background-size: cover;
    height: 70vh;
    position: relative;
}

.about-description{
    background-color: burlywood;
    height: 90px;
    width: 100%;
    position: absolute;
}

.about-description p{
    width: 60%;
    margin-left: 280px;
    color: cornsilk;
}

.about-works{
    margin-top: 180px;
}

.about-works h2{
    margin-left: 50px;
    color:#D70F64;
} 

.works-img{
    display: flex;
    /* margin-left: 10rem; */
    /* margin: 0 auto; */
    /* gap:10rem; */
    justify-content: space-around;
    align-items: center;
}

.works-img-data{
    display: flex;
    margin-left: 180px;
    gap: 26rem;
    color:#D70F64;
    font-size: large;
}

.about-works h4{
    margin-left: 460px;
} 

.about-mission{
    margin-top: 100px;
    background-color:rgba(255, 127, 39);
    height: 40vh;
}

.about-mission h3{
    color: white;
    padding-top: 50px;
    padding-left: 80px;
}

.about-mission p{
    color: white;
    padding-left:80px ;
}

/* .about-map{
} */

.about-map-data{
    display: flex;
    justify-content: space-around;
    /* margin: 0px 100px; */
    margin-bottom: 50px;
}

.about-map-data h4{
    margin-left:40px;
    color:#D70F64 ;
    font-size: 25px;
}

.country{
    background-color: #f9f7f2;
    width: 300px;
}

.country span{
    display: flex;
    justify-content:flex-start;
    padding-left:40px;
}

.bike{
    background-color: #f9f7f2;
    width: 300px;
}

.bike span{
    display: flex;
    justify-content:flex-start;
    padding-left:40px;
}

.city{
    background-color: #f9f7f2;
    width: 300px;
}

.city span{
    display: flex;
    justify-content:flex-start;
    padding-left:40px;
}