.home{
    display:flex;
    flex-direction: column;
    margin-top:100px;
    /* width:100%; */
    /* background:transparent !important; */
    /* background:#EEE2DC; */
}

.home_banner{
    display: flex;
}

.home_left{
    display:flex;
    flex-direction:column;
}

.home_left_image1{
    margin-left:162px;
}

.home_heading{
    text-align:center;
    margin-left:130px;
    /* rgba(116, 207, 78); */
}

.home_heading h1{
    font-size:60px;
    font-weight:450;
    word-spacing:2px;
    margin-top: 5px;
}

.home_heading span{
    color:#ff7f27;
}

.home_text{
    width:500px;
}

.home_text p{
    text-align:center;
    margin-left:155px;
    margin-top:-20px;
}

.home_button{
    margin-left:290px;
    position:relative;
}

.home_button button{
    color:#ffffff;
    border:none;
    outline:none;
    background-color:rgba(255, 127, 39);
    /* background-color:rgba(116, 207, 78); */
    padding:10px 10px;
    text-align:center;
    border-radius:50px;
    cursor:pointer;
    width:50%;
}

.home_button span{
    position:absolute;
    top:13%;
    left:35%;
    color:#ffffff;
}

.social_icons{
    margin-left:150px;
    margin-top:10px;
}

.social_icons .icon{
    margin-left:5px;
    font-size:20px;
    color:#333333;
}

.main_menu{
    display:inline-block;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}